@import url(https://db.onlinewebfonts.com/c/5d16302487bcb9014a1d48f0f78e3e51?family=Panton+Black+Caps);

@media only screen and (min-width: 150px) {
    * {
        margin: 0;
        padding: 0;
    }

    body {
        background-image: url("../media/sito/background.png");
        background-size: cover;
        background-attachment: fixed;
    }


    
    #icon {
        border-radius: 20%;

        margin-top: 30px;
        margin-left: calc(50% - 40px);
    }

    .name {
        font-size: 25px;
        color: white;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
        font-family: "Panton Black Caps";
        font-weight: 100;
        font-style: normal;
        position: static;
    }
    
    .desc {
        color: white;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        font-family: "Roboto", sans-serif;
        text-align: center;
        font-weight: 70;
        font-style: normal;
        position: static;
    }

    #joinimage {
        margin-top: calc(85% - 150px);
        margin-left: calc(50% - 150px);
    }


    #homeicon {
        margin-top: 10px;
        margin-left: 92%;
    }


    .hyperstudios {
        width: 360px;
        height: 510px;
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(10px);
        margin-top: 0px;
        margin-left: calc(30% - 180px);
        border-radius: 15px;
        opacity: 1;
        cursor: cell;
    }

    .sucaigp {
        width: 360px;
        height: 510px;
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(10px);
        margin-top: -510px;
        margin-left: calc(70% - 180px);
        border-radius: 15px;
        opacity: 1;
        cursor: cell;
    }

    .new1 {
        /*new1*/
        width: 360px;
        height: 510px;
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(10px);
        margin-top: 50px;
        margin-left: calc(30% - 180px);
        border-radius: 15px;
        opacity: 1;
        cursor: cell;
    }

    .new2 {
        /*new2*/
        width: 360px;
        height: 510px;
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(10px);
        margin-top: -510px;
        margin-left: calc(70% - 180px);
        border-radius: 15px;
        opacity: 1;
        cursor: cell;
    }
}