@font-face { font-family: Panton\ Black\ Caps; src: url(../fonts/Panton\ Black\ Caps.ttf); }

* {
    margin: 0;
    padding: 0;
    cursor: default;
}
*::selection {
    background-color: transparent;
}


body {
    background-image: url("../media/sito/background.png");
    background-size: cover;
    background-attachment: fixed;
}

.nuhhu {
    width: 100%;
    height: 40px;
    margin-top: -670px;
}

.score {
    font-size: 30px;
    color: white;
    margin-top: -570px;
    margin-left: 30px;
    font-family: "Panton Black Caps";
    visibility: hidden;
}
.score.visible {
    visibility: visible;
}

#play_song {
    margin-top: 720px;
    margin-left: 30px;
    border-radius: 20%;
    cursor: pointer;
    position: absolute;
}
#play_song.minus {
    margin-top: 580px;
    margin-left: 30px;
    border-radius: 20%;
    cursor: pointer;
    position: absolute;
}
#play_song:hover {
    transition: all 0.2s;
    transform: scale(1.1);
}

.profileBox {
    width: 360px;
    height: 300px;
    background-color: rgba(42, 4, 58, 0.422);
    backdrop-filter: blur(10px);
    margin-top: 0px;
    margin-left: calc(50% - 180px);
    border-radius: 15px;
    opacity: 1;
}

#immagine {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    margin-top: 15px;
    margin-left: calc(50% - 35px);
    position: static;
}
#immagine:hover {
    animation: custom_rotation linear infinite;
    animation-duration: 3s;
}

#avatar-decoration {
    margin-left: -78px;
    margin-top: 2px;
}

.nome {
    font-size: 25px;
    color: white;
    margin-top: 5px;
    text-align: center;
    font-family: "Panton Black Caps";
    animation: colortransition linear infinite;
    animation-duration: 4.5s;
}

.box {
    margin-left: calc(50% - 150px);
    margin-top: 15px;
    width: 300px;
    height: 70px;
    border-radius: 15px;
    background-color: #0000005c;
    backdrop-filter: blur(1px);
}

.badge_1 {
    margin-top: 15px;
    margin-left: calc(15% - 20px);
}

#telegramlogo {
    cursor: pointer;
    margin-top: 30px;
    margin-left: calc(25% - 30px);
}
#telegramlogo:hover {
    transition: all 200ms;
    transform: scale(1.2);
}

#dslogo {
    cursor: pointer;
    margin-top: 30px;
    margin-left: calc(25% - 60px);
    
}
#dslogo:hover {
    transition: all 200ms;
    transform: scale(1.2);
}

#githublogo {
    cursor: pointer;
    margin-top: 30px;
    margin-left: calc(25% - 65px);
}
#githublogo:hover {
    transition: all 200ms;
    transform: scale(1.2);
}



@media screen and (max-width: 400px) {
    .profileBox {
        margin-top: 230px;
        width: 350px;
        margin-left: calc(50% - 175px);
    }
    #immagine {
        margin-left: calc(50% - 35px);
    }
    .linksbox {
        width: 280px;
        margin-left: calc(50% - 140px);
    }
    .discord_rp {
        width: 92%;
        height: 90px;
        margin-left: calc(50% - 46%);
    }
}
@media screen and (max-width: 800px) and (min-width: 401px) {
    .profileBox {
        margin-top: 230px;
    }
    .linksbox {
        width: 90%;
        margin-left: calc(50% - 45%);
    }
}
@media  screen and (min-width: 801px) {
    .profileBox {
        margin-top: 230px;
    }
}
@media screen and (max-width: 278px) {
    .linksbox {
        width: 85%;
        margin-left: calc(50% - 42.5%);
    }
    .profileBox {
        width: 70%;
        margin-left: calc(50% - 35%);
    }
}
@media screen and (max-width: 261px) {
    .discord_rp {
        width: 92%;
        height: 120px;
        margin-left: calc(50% - 46%);
    }
}
@keyframes colortransition {
    100%, 0%{
        color: rgb(255,0,0);
    }
    8%{
        color: rgb(255,127,0);
    }
    16%{
        color: rgb(255,255,0);
    }
    25%{
        color: rgb(127,255,0);
    }
    33%{
        color: rgb(0,255,0);
    }
    41%{
        color: rgb(0,255,127);
    }
    50%{
        color: rgb(0,255,255);
    }
    58%{
        color: rgb(0,127,255);
    }
    66%{
        color: rgb(0,0,255);
    }
    75%{
        color: rgb(127,0,255);
    }
    83%{
        color: rgb(255,0,255);
    }
    91%{
        color: rgb(255,0,127);
        color: rgba(0, 225, 255, 0.404);
    }
};