@font-face { font-family: Panton\ Black\ Caps; src: url(../../utils/fonts/Panton\ Black\ Caps.ttf); }

@media only screen and (min-width: 150px) {
    * {
        margin: 0;
        padding: 0;
    }

    body {
        background-image: url("../../media/sito/background.png");
        background-size: cover;
        background-attachment: fixed;
    }

    .title-box {
        width: 585px;
        height: 120px;
        margin-left: calc(50% - 292.5px);
    }
    .title {
        font-size: 50px;
        color: rgb(255, 255, 255);
        margin-top: 50px;
        margin-left: 140px;
        font-family: "Panton Black Caps";
        font-weight: 100;
        font-style: normal;
        position: static;
    }
    #icon {
        border-radius: 20%;
        margin-top: -80px;
        margin-left: 10px;
    }

    .tos-box {
        
        margin-left: calc(50% - 500px);
        margin-top: -20px;

        width: 1000px;
        height: 500px;
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(10px);
        opacity: 1;
    }
    .par-title {
        font-size: 50px;
        color: rgb(255, 255, 255);
        text-align: center;
        font-family: "Panton Black Caps";
        font-style: normal;
        position: static;
    }
    .info {

        font-size: 20px;
        color: rgb(255, 255, 255);
        margin-top: 30px;
        margin-left: 20px;
        font-family: "Roboto", sans-serif;
        font-weight: 0;
        font-style: normal;
        position: static;
    }

}